<md-content flex md-scroll-y class="inbox-content">
    <md-list class="inbox-list" ng-show="$ctrl.emailsHere">

        <div infinite-scroll="loadMore()" infinite-scroll-distance="0">

            <h3>Today</h3>
            <inbox-item md-item ng-repeat="email in $ctrl.emails | emailDateFilter:'today' track by $index" email="email"></inbox-item>

            <h3>Yesterday</h3>
            <inbox-item md-item ng-repeat="email in $ctrl.emails | emailDateFilter:'yesterday' track by $index" email="email"></inbox-item>

            <h3>This week</h3>
            <inbox-item md-item ng-repeat="email in $ctrl.emails | emailDateFilter:'this_week' track by $index" email="email"></inbox-item>

            <h3>This year</h3>
            <inbox-item md-item ng-repeat="email in $ctrl.emails | emailDateFilter:'this_year' track by $index" email="email"></inbox-item>

            <h3>Before this year</h3>
            <inbox-item md-item ng-repeat="email in $ctrl.emails | emailDateFilter:'prev_years' track by $index" email="email"></inbox-item>

        </div>

    </md-list>
</md-content>